# 仮想環境
venv/
lrir/

# ビルドおよびキャッシュディレクトリ
add/
*/__pycache__/
__pycache__/

# プロジェクトディレクトリ
ComicPanelSplitter/
AnimeShakitto_v1.0.0.0/

# テスト画像
testimg/
!testimg/1_img/

# 一時ディレクトリ
under-*/
output/
output/image_dataset/
.tmp.driveupload/

# ログファイル
*.log

# ソースおよびテストモジュール
src/score_module/
tests/pytest_temp/
tests/resources/
!tests/resources/img/1_img
tests/tests_out/

# データベースファイル
Image_database/*.db

# カバレッジおよび処理
.coverage
processing.toml

# Egg-info
*/lorairo.egg-info/

# IDE設定
.vscode/
